
.body{
    margin: 40px;
    width: 100%;
   
}

.login{

 font-weight: bold;
 font-size: 30px;  
 }
.form-control{
 border: 2px solid blue;
 width: 54%;
}
.Form:hover{

color: blue;

}

.blanc{
    color: white;
    text-align: center;
    width: 61%;
    background-color: blue;
    height: 40px;
   
}
.forgot{
    color: blue;
    text-align: center;
    width: 60%;
    border: 1px white;
    cursor: pointer;
   
}
.button1{
    padding: 10px;
    text-align:center;
    cursor: pointer;
    border-radius: 20px;
    height: 30%;
    width: 52%;
    border: none;
}



