.nav-content{
    height: 60px;
    width: 100%;
    display: inline-block;
    background-color: cornflowerblue;
}
.nav-title{
    cursor: pointer;
    display: inline-block;
    padding-top: 15px;
    width: 80px;
    text-align: center;
    
    }
.nav-active{ 
    height: 60px; 
    font-weight: bold;
    border-bottom: 5px solid rgb(42, 7, 148);
}
