
.body{
    margin-left: 70px;
  
}

.login{

 font-weight: bold;
 font-size: 30px;  
 }
.control{
border: 2px solid rgb(12, 25, 123);
 
 width: 64%;
}
.control:hover{

    
    box-shadow: 0 3px 6px rgba(12,25,123,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    }




.blanc{
    color: white;
    text-align: center;
    width: 61%;
    background-color: blue;
    height: 40px;
   
}
.Forgot{
   
    text-align: center;
    width: 60%;
    border: 1px white;
   
}
.button3{
    padding: 10px;
    text-align:center;
    cursor: pointer;
    border-radius: 20px;
    height: 30%;
    width: 63%;
    border: none;
}



