nav {
    height: 50px;
    background-color: red;
}
.ul{
    list-style: none;
    background-color: gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.items{
    line-height: 50px;
    cursor: pointer;
    height: 50px;
    width: 100px;
}
@media screen and (max-width: 500px){
    .ul{
        flex-direction : column;
        height: 209px;
    }
    .items:nth-child(1){
        border-top: 1px solid red;
        margin-top: 50px;
    }
    .items {
        height: 50px;
        width: 100px;
        border-bottom: 1px solid red;
        line-height: 50px;
    }
    
}